html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

section {
  padding: 90px;
  background-size: cover;
}

h1 {
  font-size: 180px;
  font-weight: 100;
}

p {
  font-size: 35px;
  font-weight: 300;
  max-width: 700px;
}

.dark a {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 2px;
  margin: 4px;
  margin-left: 0;
  color: #000;
  text-decoration: none;
  font-size: 40px;
}
.dark a:hover {
  background: rgba(0,0,0,0.2);
}

.light {
  color: #fff;
}

.light a {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 2px;
  margin: 4px;
  margin-left: 0;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}
.light a:hover {
  background: rgba(255,255,255,0.2);
}

.waily {
  background-image: url("http://waily.co/imgs/2.jpg");
}
.jottra {
  background-image: url("http://waily.co/imgs/11.jpg");
  background-position: bottom;
}
.humbll {
  background-image: url("http://waily.co/imgs/1.jpg");
}


* {
  display: none;
}

body {
  background-image: url("http://www.priory.e-sussex.sch.uk/images/stories/govs/tony.jpg");
  background-size: cover;
}
