@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

* {
  padding: 0;
  margin: 0;
  
  font-family: "Quicksand";
  text-transform: uppercase;
}

.header {
  background: #fcfcfc;
  padding: 10px;
}

.title {
  font-weight: normal;
  font-size: 80px;
  
  text-decoration: none;
  color: #000;
}

.jumbotron {
  background: url("imgs/bg.png");
  background-size: 100vw auto;
  background-attachment: fixed;
  padding: 180px;
}

.jumbotron h2 {
  font-weight: normal;
  font-size: 70px;
  
  padding: 20px;
  display: inline-block;
  background: rgba(255,255,255,0.5);
}

.links {
  background: url("imgs/bg2.png");
  background-size: 100vw auto;
  background-attachment: fixed;
  padding: 180px;
}

.links h2 {
  font-weight: normal;
  font-size: 70px;
  
  padding: 20px;
  display: inline-block;
  background: rgba(255,255,255,0.5);
}

.links a {
  text-decoration: none;
  color: #666;
}